/*
Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.
        on line 18 of sass/temp.sass

13: }
14: 
15: 
16: 
17: body{
18: 	width: 100%;
19: 	height: 100%;
20: 	font-family: MyriadSetPro ;
21: }
22: 
23: #header{

Backtrace:
sass/temp.sass:18
/usr/lib/ruby/vendor_ruby/sass/engine.rb:483:in `block in tabulate'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:441:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:441:in `each_with_index'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:441:in `tabulate'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:293:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:108:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:380:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 18 of sass/temp.sass\A \A 13: }\A 14: \A 15: \A 16: \A 17: body{\A 18: 	width: 100%;\A 19: 	height: 100%;\A 20: 	font-family: MyriadSetPro ;\A 21: }\A 22: \A 23: #header{"; }
